@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family: inherit, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* font management */
/* Use Merriweather where needed using CSS variable */
.font-merri {
  font-family: var(--font-merriweather);
}

/* background color  */
.bg-main {
  /* background-color: #07a4da; */
  background-color: whitesmoke;
}

/* loading */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: "spin 1s infinite linear";
}
